name: CI

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "v*"

env:
  CARGO_TERM_COLOR: always
  APP_NAME: ${{ github.event.repository.name }}

jobs:
  # ---------------------------------------------------
  # 1. QUALITY CONTROL
  # ---------------------------------------------------
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - uses: clechasseur/rs-clippy-check@v5

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --locked --all-features --all-targets

  # ---------------------------------------------------
  # 2. OFFICIAL RELEASE (Runs on Tags v*)
  # ---------------------------------------------------
  create-release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [test, fmt, clippy]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          prerelease: false
          generate_release_notes: true

  upload-assets:
    name: release ${{ matrix.target }}
    needs: create-release
    runs-on: ${{ matrix.os }}
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2

      # Build the binary for the target
      - name: Build binary
        run: cargo build --release --target ${{ matrix.target }}

      # Upload the binary to the release
      - name: Upload binary
        uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: ${{ env.APP_NAME }}
          target: ${{ matrix.target }}
          token: ${{ secrets.GITHUB_TOKEN }}
